<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for(@answer) do |f| %>
    <div class="modal-body">

      <div class="question-title-div">
        New Answer on <%= link_to @question.title, @question %>
      </div>

          <% if @answer.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

                <ul>
                  <% @answer.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :vote, value: 0 %>
          <%= f.hidden_field :question_id, value: @question.id %>


      <div class="field">
        <%= f.text_area :content, class:"textarea form-control modal-text-area", rows: "20", autocomplete: "off", placeholder: "Your answer" %>
      </div>

    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit "Add Answer", class: "btn btn-orange"%>
        </div>
    <% end %>
  </div>
</div>